<!DOCTYPE html>
<html>
<head>
  <title>Project Management</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="~/bootstrap.css" />
  <link rel="stylesheet" href="~/site.css" />
  @RenderSection(name: "styles", required: false)
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
</body>
</html>
