@using CorsoEnaip2018_MVC_1.Models
@model List<Car>

<!DOCTYPE html>
<html>
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="~/bootstrap.css" />
</head>
<body>
    <h1>Salone</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modello</th>
                <th>Data</th>
                <th>Prezzo</th>
                <th colspan="2"/>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.Brand</td>
                    <td>@car.Name</td>
                    <td>@car.Created.ToString("dd-MM-yyyy")</td>
                    <td>@car.Price</td>
                    <td><a href="/car/edit/@(car.Id)" class="btn btn-primary">Modifica</a></td>
                    <td><a href="/car/delete/@(car.Id)" class="btn btn-danger">Elimina</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>