@model SuperHero

<h1>Elimina Supereroe</h1>
<form method="post">
  <input type="hidden" asp-for="@Model.Name" />
  <div class="form-group">
    <p>Vuoi davvero rimuovere il supereroe '@Model.Name'?</p>
  </div>
  <div class="form-group">
    <a class="btn btn-default" asp-controller="SuperHero" asp-action="Index">Annulla</a>
    <input type="submit" class="btn btn-danger" value="Conferma" />
  </div>
</form>
